.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: linear-gradient(to right, #FFC107, #FF9800);
  color: white;
}

.mat-flat-button {
  background-color: aliceblue;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}




